<html>
    <head>

    </head>
    <body>
        <h1>
            Welcome to meame <%=title%>
        </h1>
        <ul>
        <% for(var i=0; i<List.length; i++){%>
            <li>
                <%=List[i]%>
            </li>
        <%}%>
        </ul>
    </body>
</html>
